@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    #tableron {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #tableron td, #tableron th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #tableron tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #tableron tr:hover {
        background-color: #ddd;
    }

    #tableron th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>
<div id="cabecero">

</div>
<div id="content">

</div>
<div id="formulario" >
    <form method="post">
        Nombre<input type="text" id="txtNombre" />
        Id<input type="text" id="txtId" />
        Orientacion<input type="text" id="txtOrientacion" />
        Direccion<input type="text" id="txtDireccion" />
        Posesiones<input type="text" id="txtPosesiones" />
        Grito-Comun<input type="text" id="txtGritComun" />
        Grito-Apareamiento<input type="text" id="txtGritApa" />
        <button type="submit">Agregar</button>
    </form>
</div>
<script>
    function perroflautas() {
            var tabla = '<table id="tableron" class="tableron">';
            tabla += "<tr><th>Id</th><th>Nombre</th><th>Direccion</th><th>Orientacion Ideologica</th><th>Posesiones</th><th>Grito Comun</th><th>Grito de Apareamiento</th></tr>";

            tabla += `@foreach (var er in Model.perroflautas) {
                        <tr>
                            <td>@er.Id</td>
                            <td>@er.Nombre</td>
                            <td>@er.Direccion</td>
                            <td>@er.OrientacionIdeologica</td>
                            <td>@er.Posesiones</td>
                            <td>@er.GritoComun</td>
                            <td>@er.GritoAparea</td>
                        </tr> }`;

            tabla += "</table>";
                document.getElementById("content").innerHTML = tabla;
            }
</script>
